.footer {
  background-color: var(--color-cream);
  padding: var(--spacing-lg) 0;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xl);
}

@media (max-width: 1300px) {
  .footer__info {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .footer__container {
    min-height: 100px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: var(--spacing-xl) 0;
    margin-top: var(--spacing-2xl);
  }

  .footer__container {
    gap: var(--spacing-lg);
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .footer__address,
  .footer__hours {
    justify-content: center;
  }

  .privacy-link {
    text-align: center;
  }
}
