<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%TITLE% - Aqvanika</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <!-- Подключаем хедер -->
    <div id="header-placeholder"></div>

    <main>
      <!-- Здесь будет контент страницы -->
      %CONTENT%
    </main>

    <!-- Подключаем футер -->
    <div id="footer-placeholder"></div>

    <!-- Подключение JavaScript -->
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
