.contacts-page {
  padding-top: 4.5rem;
}
.contacts-page__container {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 70px;
  flex-direction: column;
}

.contacts-page__title {
  margin-bottom: 0;
}

.contacts-page__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contacts-social {
  display: none;
}

@media (max-width: 576px) {
  .contacts-social {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
