.contacts-page {
  padding-top: 4.5rem;
}
.contacts-page__container {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 70px;
  flex-direction: column;
}

.contacts-page__title {
  margin-bottom: 0;
}

.contacts-page__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contacts-social {
  display: none;
}

.fa-envelope {
  padding-right: 5px;
}

@media (max-width: 1024px) {
  .contacts-page__phone {
    display: none;
  }
}

@media (max-width: 768px) {

  .contacts-page__container {
    gap: var(--spacing-lg);
  }
  .contacts-page__main {
    flex-direction: column;
  }

  .contacts-info {
    margin-bottom: var(--spacing-md);
  }
}

@media (max-width: 480px) {
  .contacts-social {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
