/* Montserrat Font Family */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Black.woff") format("woff");
}

/* Georgia Font Family */
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Georgia.woff2") format("woff2");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Georgia-Bold.woff2") format("woff2");
}
