.container {
  max-width: var(--container-max-width-xl);
  margin: auto;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.container--content {
  max-width: var(
    --container-max-width
  ); /* Для контентных блоков сохраняем стандартную ширину */
}

/* Container sizes */
.container--sm {
  max-width: 640px;
}

.container--md {
  max-width: 768px;
}

.container--lg {
  max-width: 1024px;
}

.container--xl {
  max-width: 1280px;
}

.container--2xl {
  max-width: var(--container-max-width-xl);
}

/* Container paddings */
.container--px-0 {
  padding-left: 0;
  padding-right: 0;
}

.container--px-sm {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.container--px-lg {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

.container--pt-2xl {
  padding-top: 100px;
}

/* Responsive container */

@media (max-width: 1720px) {
  .container {
    width: 100%;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

@media (max-width: 1300px) {
  .container {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}
