<!-- Боковое меню для страниц -->
<aside class="side-menu">
  <nav class="side-menu__nav">
    <ul class="side-menu__list">
      <li class="side-menu__item">
        <a href="/about" class="side-menu__link" data-page="about">
          <i class="fas fa-info-circle"></i>
          <span>О нас</span>
        </a>
      </li>
      <li class="side-menu__item">
        <a href="/team" class="side-menu__link" data-page="team">
          <i class="fas fa-users"></i>
          <span>Наша команда</span>
        </a>
      </li>
      <li class="side-menu__item">
        <a href="/reviews" class="side-menu__link" data-page="reviews">
          <i class="fas fa-star"></i>
          <span>Отзывы</span>
        </a>
      </li>
      <li class="side-menu__item">
        <a href="/vacancies" class="side-menu__link" data-page="vacancies">
          <i class="fas fa-briefcase"></i>
          <span>Вакансии</span>
        </a>
      </li>
      <li class="side-menu__item">
        <a href="/gallery" class="side-menu__link" data-page="gallery">
          <i class="fas fa-images"></i>
          <span>Галерея</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
